.cart-summary-aside {
  font-family: "Inter", sans-serif;
  width: 40%;
  margin-left: 3rem;
  padding: 2rem 1.5rem;
  height: 50vh;
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cart-summary-heading {
  text-align: center;
}

.cart-shipping {
  margin-top: 1rem;
}

.cart-net-total {
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}

.cart-summary-calc {
  margin: 1rem 1rem;
  padding: 2rem 2rem;
}

@media screen and (max-width: 768px) {
  .cart-summary-aside {
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0;
    padding: 2rem 1.5rem;
    height: 50vh;
  }

  .cart-shipping {
    margin-top: 1rem;
  }

  .cart-net-total {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .cart-summary-calc {
    padding: 1rem 1rem;
  }
}
