
.cart-summary-aside {
    font-family: "Inter", sans-serif;
    width: 40%;
    /* border: 2px solid; */
    padding: 2rem 1.5rem;
    height: 50vh;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 1rem 1.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  }
  
  .cart-summary-heading {
    font-weight: bolder;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
  }
  
  .cart-summary-calc {
    border: 2px solid black;
    margin: 1rem 1rem;
    padding: 2rem 2rem;
  }
  