@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://ez-ui-library.netlify.app/styles.css');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

:root {
  --primary-color: #ff4e00;
  --secondary-color: #15cdfc;
  --base-color: #fff;
  --dark-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  
}

.nav-main {
  font-family: 'Rakkas', cursive;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0.5rem calc((100vw - 1000px) / 2 );
}

.nav-burger {
  display: none;
  color: var(--base-color);
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

.nav-btn {
  color: var(--base-color);
  text-decoration: none;
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.nav-btn:hover {
  
  color: var(--primary-color)
}

.nav-icons {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.nav-icon {
  color: var(--base-color);
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.signin-btn {
  display: flex;
  align-items: center;
  margin-right:24px
}

.dark-btn {
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
}


/* Card CSS */

.products-container {
  border: 4px solid;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 1rem 1rem;
  width: 250px;
  -webkit-box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  box-shadow: 1rem 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  border-radius: 8px;
  border: 1px solid;
}

.product-card-top {
  position: relative;
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  border: 1px solid;
}

.product-card-top img {
  max-width: 100%;
  display: block;
}

.card-wishlist-btn {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 100;
  padding: 3px;
  margin:0;
  border-radius: 50%;
  background: var(--base-color);
}

.product-card-body {
  padding: 1rem 1rem;
  
}

.product-card-body button {
  display: flex;
  justify-content: center;
}

.product-card-name {
  font-family: 'Rakkas', cursive;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.product-card-details {
  font-family: 'Cardo', serif;
  display: flex;
  justify-content: space-between;
}















@media screen and (max-width: 768px) {

  .nav-burger  {
  display: block;
  cursor: pointer;
  position: absolute;
  font-size: 1.75rem;
  top: 0;
  right: 0;
  transform: translate(-100%, 90%);
  }

  .nav-menu {
  display: none;
  }

  .signin-btn {
    display: none;
  }

  .nav-icons {
    display: flex;
    width: 100%;
    justify-content: center;
  }





}







/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
