@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://ez-ui-library.netlify.app/styles.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary-color: #ff4e00;
  --secondary-color: #15cdfc;
  --base-color: #fff;
  --dark-color: #121212;
  --green-color: #26de81;
  --red-color: #ea2027;
  --orange-color: #ffa502;
  --grey-color: #d1d8e0;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 80vh;
}


.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF4E00 0%, #EB290C 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #EB290C;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #EB290C;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #EB290C;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #EB290C;
}





