@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://ez-ui-library.netlify.app/styles.css');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


:root {
  --primary-color: #ff4e00;
  --secondary-color: #15cdfc;
  --base-color: #fff;
  --dark-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  
}

.nav-main {
  font-family: 'Rakkas', cursive;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0.5rem calc((100vw - 1000px) / 2 );
}

.nav-burger {
  display: none;
  color: var(--base-color);
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

.nav-btn {
  color: var(--base-color);
  text-decoration: none;
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.nav-btn:hover {
  color: var(--primary-color)
}

.nav-icons {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.nav-icon {
  color: var(--base-color);
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.signin-btn {
  display: flex;
  align-items: center;
  margin-right:24px
}

.dark-btn {
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
}





@media screen and (max-width: 768px) {

  .nav-burger  {
  display: block;
  cursor: pointer;
  position: absolute;
  font-size: 1.75rem;
  top: 0;
  right: 0;
  transform: translate(-100%, 90%);
  }

  .nav-menu {
  display: none;
  }

  .signin-btn {
    display: none;
  }

  .nav-icons {
    display: flex;
    width: 100%;
    justify-content: center;
  }





}







/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
