.cart-card {
  margin: 1rem 1rem;
  height: 380px;
  width: 650px;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  border-radius: 8px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
}

.cart-img-div {
  width: 300px;
}

.cart-img-div img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 320px;
  position: relative;
}

.cart-card-body {
  padding: 1rem 1rem;
  /* border: 1px solid; */
  width: 280px;
}

.cart-details-heading {
  font-size: 1.1rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.cart-card-details {
  position: relative;
}

.cart-product-price {
  font-size: 1.4rem;
  font-weight: bolder;
}

.cart-card-bottom {
  display: flex;
  flex-direction: column;
}

.cart-card-qty-div {
  display: flex;
  justify-content: center;
}

.update-qty-btn {
  color: var(--base-color);
  font-weight: bolder;
  background: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  padding: 0.2rem 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border: 2px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

.update-qty-btn:hover {
  background: var(--base-color);
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.update-qty-btn:active {
  transform: translateY(3px); 
}

.cart-bottom-btn {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

@media screen and (max-width: 768px) {
  .cart-card {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  .cart-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cart-img-div img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 240px;
    position: relative;
  }
}
